
<p> Title:
<%= @post.title %>
</p>
<p> Post:
<%= @post.content %>
</p>
<p> Link URL (if applicable)
<%= @post.url if @post.url %>
</p>
<p> Author:
<%= @post.author.username %>
</p>
<p> Created at:
<%= @post.created_at %>
</p>
<p> Updated at:
<%= @post.updated_at %>
</p>

<p><%= link_to "Edit this post", edit_post_url %></p>


<form action="<%= comments_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

  <label>Content
    <textarea name="comment[content]" rows="8" cols="80"></textarea>
  </label>

  <input type="submit" name="" value="COMMIT">
</form>


<p>
<%= link_to "Comment on this post", new_comment_url %>
</p>


<%= render('shared/comment', com_id: nil, post: @post)  %>
